@font-face{font-family: sansation;src: url(fonts/Sansation_Regular-webfont.eot);}
@font-face{font-family: sansation;src: url(fonts/Sansation_Bold-webfont.eot);font-weight:bold;}
@font-face{font-family: sansation;src: url(fonts/Sansation_Italic-webfont.eot);font-style:italic;}
